<div class="container-fluid col-md-6">

<form #formName="ngForm">
  <div class="mb-3">
    <label for="firstname" class="form-label">First Name</label>
    <input ngModel type="text" class="form-control" id="firstname" name="firstname" #firstname="ngModel">
  </div>
  <div class="mb-3">
    <label for="lastname" class="form-label">Last Name</label>
    <input ngModel type="text" class="form-control" id="lastname" name="lastname" #lastname="ngModel">
  </div>
  <div class="mb-3">
    <label for="email" class="form-label">Email</label>
    <input ngModel type="email" class="form-control" id="email" name="email" #email="ngModel">
  </div>
  <div class="mb-3">
    <label for="phonenumber" class="form-label">Phone Number</label>
    <input ngModel type="text" class="form-control" id="phonenumber" name="phonenumber" #phonenumber="ngModel">
  </div>
  <div class="mb-3">
    <label for="select" class="form-label">Favorite Language</label>
    <select ngModel class="form-select" aria-label="Default select example" id="select" name="select" #select="ngModel">
      <option selected></option>
      <option value="html">HTML</option>
      <option value="css">CSS</option>
      <option value="js">JavaScript</option>
      <option value="php">PHP</option>
    </select>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>

</div>
