{{ friendModel | json }}

<div class="container-fluid col-md-4">

  <br>
  <h1>Friend List</h1>
  <br>

  <form #formName="ngForm" needs-validation novalidate>
    <div class="mb-3">
      <label for="firstname" class="form-label">First Name</label>
      <input type="text"
             class="form-control"
             id="firstname"
             name="firstname"
             pattern="^[a-zA-Z]+(?:-[a-zA-Z]+)*$"
             [(ngModel)]="friendModel.firstname"
             #firstname="ngModel"
             [class.is-valid]="firstname.valid"
             [class.is-invalid]="firstname.invalid && firstname.touched"
             required>
      <div class="valid-feedback">Valid First Name.</div>
      <div class="invalid-feedback">Please provide a valid first name.</div>
    </div>
    <div class="mb-3">
      <label for="lastname" class="form-label">Last Name</label>
      <input type="text"
             class="form-control"
             id="lastname"
             name="lastname"
             pattern="^[a-zA-Z]+(?:-[a-zA-Z]+)*$"
             [(ngModel)]="friendModel.lastname"
             #lastname="ngModel"
             [class.is-valid]="lastname.valid"
             [class.is-invalid]="lastname.invalid && lastname.touched"
             required>
      <div class="valid-feedback">Valid Last Name.</div>
      <div class="invalid-feedback">Please provide a valid last name.</div>
    </div>
    <div class="mb-3">
      <label for="email" class="form-label">Email</label>
      <input type="email"
             class="form-control"
             id="email"
             name="email"
             pattern="^[_A-Za-z0-9-\+]+(\.[_A-Za-z0-9-]+)*@[A-Za-z0-9-]+(\.[A-Za-z0-9]+)*(\.[A-Za-z]{2,})$"
             [(ngModel)]="friendModel.email"
             #email="ngModel"
             [class.is-valid]="email.valid"
             [class.is-invalid]="email.invalid && email.touched"
             required>
      <div class="valid-feedback">Valid email.</div>
      <div class="invalid-feedback">Please provide a valid email.</div>
    </div>
    <div class="mb-3">
      <label for="phonenumber" class="form-label">Phone Number</label>
      <input type="text"
             class="form-control"
             id="phonenumber"
             name="phonenumber"
             pattern="^\ *(((\+|0\ *0)\ *([0-9]\ *[0-9]))|[0-9])(\ *[0-9]){9}\ *$"
             [(ngModel)]="friendModel.phonenumber"
             #phonenumber="ngModel"
             [class.is-valid]="phonenumber.valid"
             [class.is-invalid]="phonenumber.invalid && phonenumber.touched"
             required>
      <div class="valid-feedback">Valid phone number.</div>
      <div class="invalid-feedback">Please provide a valid phone number.</div>
    </div>
    <div class="mb-3">
      <label for="language" class="form-label">Favorite Language</label>
      <select class="form-select"
              aria-label="Default select example"
              id="language"
              name="language"
              [(ngModel)]="friendModel.language"
              #language="ngModel"
              [class.is-valid]="language.valid"
              [class.is-invalid]="language.invalid && language.touched"
              required>

        // The options get imported from the languages array defined in app.components.ts
        and get displayed using the *ngFor loop directive
        <option *ngFor="let language of languages" [value]="language.name">
          {{language.name}}
        </option>
      </select>
      <div class="valid-feedback">Thank you for your choice.</div>
      <div class="invalid-feedback">Please make a choice.</div>
    </div>
    <button class="btn btn-primary" [disabled]="formName.form.invalid" >Submit</button>
  </form>

</div>
